<div class = "container"><br><br>
  <div class="row">
      <table class ="table">
        <thead class ="thead-dark">
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Currency</th>
                <th>Stock Exchange</th>
                <th>Details</th>
              </tr>
        </thead>
       <tbody *ngFor = "let val of data">
          <tr>
              <td>{{val.name}}</td>
              <td>{{val.symbol}}</td>
              <td>{{val.currency}}</td>
              <td>{{val.stockExchange}}</td>
              <td>Download Statement</td>
              
            </tr>
       </tbody>
       
      </table>
     
      
  
  </div>

</div>

